fastapi
uvicorn[standard]
langgraph
langchain-google-genai
langchain-groq
langchain-mcp-adapters
mcp
chromadb
streamlit
pydantic
python-dotenv
faker
requests
langgraph-checkpoint-postgres
psycopg[binary]